body {
    background-color: rgb(231, 224, 216);
    font-family: 新細明體, 微軟正黑體, 標楷體;
}

.title {
    /* margin: 10px; */
    /* padding: ; */
    font-family: 標楷體;
    background-color: rgb(43, 15, 197);
    font-size: 2rem;
    color: rgb(235, 235, 241);
    height: 4rem;
    border-radius: 0.8rem;
    line-height: 4rem;
    text-align: center;
}

.text1 {
    background-color: bisque;
    font-size: 20px;
    line-height: 40px;
    /* margin: 2px 0px; */
    padding: 6px;
    border: 2px solid seagreen;

}

.text2 {
    background-color: rgb(176, 227, 236);
    border-radius: 0.5rem;
}

.text3 {
    background-color: rgb(28, 19, 146);
    border-radius: 0.5rem;
    color: aliceblue;
    font-size: 2rem;
}

.text4 {
    text-align: left;
    background-color: #ffe4e1;
    border-radius: 0.3rem;
    height: 5rem;

    line-height: 1.2rem;
}

.title2 {
    display: inline-block;
    margin: 10px;
    /* padding: ; */
    font-family: 標楷體;
    background-color: rgb(43, 15, 197);
    font-size: 1.5rem;
    color: rgb(232, 232, 241);
    height: 2rem;
    border-radius: 6px;
    line-height: 2rem;
    padding: 6px 12px;
}

#container {
    width: 80%;
    margin: 12px auto;
    text-align: center;
}

ol {
    text-align: left;
}

li {
    margin-left: 50px;

}

ul a {
    text-decoration: none;
}

ul {
    padding: 0;
}

ul a:hover {
    color: brown;
}

ul a:visited {
    color: black;
}

ul a:active {
    color: blueviolet;
}

ul li {
    text-align: left;
    line-height: 30px;
}

#image {
    background-color: rgb(216, 24, 40);
    padding: 6px;
}

#image img {
    background-color: aliceblue;
    padding: 2px;
    width: 31%;
}

#main-table {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    height: 300px;
    margin-top: 20px;
}

#main-table th {
    background-color: #191970;
    color: #e6e6fa;
}

/* #main-table td {
    background-color: rgb(130, 18, 194);
    color: rgb(133, 160, 58);
    font-size: 18px;
} */


/* #main-table td:first-child {
    background-color: rgb(74, 168, 172);
    color: rgb(22, 22, 21);
}

#main-table td:last-child {
    background-color: rgb(223, 93, 7);
    color: rgb(22, 22, 21);
} */

#main-table tr:nth-child(even) {
    background-color: #1e90ff;
    color: #f0fff0;
}

#main-table tr:nth-child(odd) {
    background-color: #4169e1;
    color: rgb(239, 242, 243);
}